---
import { Icon } from 'astro-icon/components'
---

<footer class="bg-green-600 w-full shadow-sm z-40">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <Icon name="mdi:antenna" class="text-white text-2xl" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">SPK Cerdas</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-50 sm:mb-0">
                <li>
                    <a href="/tinjauan" class="hover:underline me-4 md:me-6">Tinjauan Pustaka</a>
                </li>
                <li>
                    <a href="https://j-ptiik.ub.ac.id/index.php/j-ptiik/article/view/1678" class="hover:underline me-4 md:me-6" target="_blank">Referensi Jurnal</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-300 sm:mx-auto lg:my-8" />
        <span class="block text-sm text-white sm:text-center">© 2025 <a href="https://github.com/fathursyh" class="hover:underline">fathursyh on Github</a>. All Rights Reserved.</span>
    </div>
</footer>