---
export const prerender = true;
import TheHero from '../components/home/TheHero.astro';
import Layout from '../layouts/Layout.astro';
Astro.response.headers.set("Cache-Control", "public, max-age=300, s-maxage=3600");
---
<title>F-AHP-LR - Beranda</title>
<Layout>
    <main>
        <TheHero />
    </main>
</Layout>
