---
import TheHero from '../components/home/TheHero.astro';
import Layout from '../layouts/Layout.astro';
---
<title>F-AHP - Beranda</title>
<Layout>
    <main>
        <TheHero />
    </main>
</Layout>
