---
export const prerender = true;
import KalkulasiPage from '../components/kalkulasi/KalkulasiPage.vue';
import Layout from '../layouts/Layout.astro';
Astro.response.headers.set("Cache-Control", "public, max-age=300, s-maxage=3600");
---
<title>F-AHP - Kalkulasi</title>
<Layout>
	<KalkulasiPage client:only="vue"/>
</Layout>
