<div class="h-[60rem] w-[50%] bg-gradient-to-tr from-green-500/30 fixed 2xl:-bottom-[50%] -bottom-[70%] 2xl:-left-[20%] -left-[30%] rounded-full blur-3xl -z-10"></div>
<div class="h-[60rem] w-[50%] bg-gradient-to-bl from-pink-500/30 fixed 2xl:-top-[50%] -top-[70%] 2xl:-right-[20%] -right-[30%] rounded-full blur-3xl -z-10"></div>
