---
import WebFooter from "../components/navigations/WebFooter.astro";
import WebNavbar from "../components/navigations/WebNavbar.astro";
import BodyScripts from "../components/partials/BodyScripts.astro";
import BlurBackground from "../components/partials/BlurBackground.astro";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="id">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/spk.png" />
        <meta name="generator" content={Astro.generator} />
        <title>F-AHP-LR</title>
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <meta name="title" content={title || "Aplikasi Web SPK Hybrid Fuzzy, AHP-SAW, dan Logistic Regression untuk Analisis Pemilihan Atlet Bulutangkis"} />
        <meta name="description" content={description || "Website SPK cerdas metode fuzzy, AHP-SAW dan logistic regression untuk pemilihan tim badminton."} />
        <ClientRouter fallback="swap" />
    </head>
    <body>
        <WebNavbar />
        <BlurBackground />
        <slot />
        <WebFooter />
        <BodyScripts />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
</style>
